<div class="row">
  <div class="col-md-6 offset-md-3">
  <div class="col-sm-12 text-center">
    <div>
      <span class="temp"><img> {{wether.main.temp | number:'1.0-0'}} &#176;F </span>
    </div>
    <table>
      <tbody>
        <tr>
          <td>luftfugthed</td><td>{{wether.main.humidity}}%</td>
        </tr>
        <tr>
          <td>lufttryk</td><td>{{wether.main.pressure}}</td>
        </tr>
        <tr>
          <td>solopgang</td><td>{{wether.sys.sunrise * 1000 | date:'H:mm'}}</td>
        </tr>
        <tr>
          <td>solnedgang</td><td>{{wether.sys.sunset * 1000 | date: 'H:mm'}}</td>
        </tr>
        <tr>
          <td>geo kordinator</td><td>{{wether.coord.lat}}</td><td>{{wether.coord.lon}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>
